// tipografías
$roboto-font: "Roboto", sans-serif;
$primary-font: "Poppins", sans-serif;
$title-font: "Montserrat", sans-serif;

// colores
$black:#403c39;
$orange:#f38160;
$grey:#949494;
$white:#fff;