.header{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container_login{
        ul{
            @include reset-list();
            gap: 30px;
           .cart{
                img{
                    width: 28px;
                }
           } 
        }
    }
}